.carrousel-home-logo
    .et_pb_module_inner
    .slick-slider
    .slick-list
    .slick-track {
    display: flex;
    align-items: center;
}

/* Carousel services */

.carrousel-home-logo
    .et_pb_module_inner
    .slick-slider
    .slick-list
    .slick-track {
    div {
        img {
            aspect-ratio: 3/2;
            width: 60%;
            object-fit: contain;
        }
    }
}
