.et_pb_slider .et-pb-arrow-prev,
.et_pb_slider .et-pb-arrow-next {
    top: 95% !important;
    display: flex;
    border: #4754d6 1px solid !important;
    color: #4754d6 !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 35px !important;
    opacity: 1;
}

.et_pb_slider .et-pb-arrow-prev {
    left: 90% !important;
}

.et_pb_slider .et-pb-arrow-next {
    right: 22px;
}

@media (max-width: 896px) {
    .et_pb_slider .et-pb-arrow-prev {
        left: 75% !important;
    }
}

@media (max-width: 479px) {
    .et_pb_slide_content {
        p {
            font-size: 16px;
        }
    }

    .et_pb_slider .et-pb-arrow-prev {
        left: 65% !important;
    }

    .et_pb_slider .et-pb-arrow-next {
        right: 22px;
    }
}
